<p id="<%= dom_id diversion_request %>">
  <%= diversion_request.container_number %> in <%= diversion_request.current_row %>, <%= diversion_request.set_asides_required %> moves. <%= number_to_currency(diversion_request.set_asides_required * diversion_request.line.diversion_rate) %>
</p>
